<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.site_name ? Setting.site_name : "Sharon Choe" %></title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="SharonChoeDotCom" ng-controller="MainCtrl" ng-cloak>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SHARON CHOE</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><a class="is-link" ng-click="scrollTo('aboutme')">About Me</a></li>
        <li class="dropdown" id="portfolioDropdownContainer">
          <span href uib-dropdown id="portDropdown">
            <a href id="portfolioDropdown" uib-dropdown-toggle>
              Portfolio <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="portfolioDropdown">
              <li ng-repeat="item in portfolioItems">
                <a ng-href="{{item.name ? $state.href(item.name) : item.url}}" target="{{item.name ? '_top' : '_blank'}}" uib-dropdown-toggle>
                  {{item.title}}
                </a>
              </li>
            </ul>
          </span>
        </li>
        <!-- TO DO: needs some setting up in rails -->
        <!--<li><%= link_to "Blog", posts_path %></li>-->
        <li><a class="is-link" ng-click="scrollTo('contact')">Contact</a></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<div class="footer">
  <hr />
  <div class="container">
    &copy;  <%= copyright_notice_year_range(2016) %> <%= link_to "SHARONCHOE.COM", "http://sharonchoe.com/" %>  All rights reserved.
  </div>
</div>

</body>
</html>
