<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.site_name ? Setting.site_name : "Sharon Choe" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="SharonChoeDotCom" ng-controller="MainCtrl" ng-cloak>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SHARON CHOE</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Me", '#' %></li>
        <li><%= link_to "Portfolio", '#' %></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li><%= link_to "Contact", new_message_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
