<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.site_name ? Setting.site_name : "Sharon Choe" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
<% end %>

<p>
  <%= link_to Setting.site_name ? Setting.site_name : "Sharon Choe", posts_path %>
  <%= link_to "Posts", posts_path %>
  <%= link_to "About", '#' %>
  <%= link_to "Contact", new_message_path %>
  <%= link_to "Login", login_path %>
</p>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
